[Unit]
Description=solana-realtime-indexer
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/solana-realtime-indexer
ExecStart=/opt/solana-realtime-indexer/solana-realtime-indexer
Restart=always
RestartSec=5
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
